<body class="body">
<div class="w-section go-up-bar">
  <div class="content-wrapper">
    <a href="#Top" data-ix="initial-appearance-for-go-up-button" class="w-inline-block go-up-button"></a>
  </div>
</div>
<div class="w-section content-section intro">
  <div data-ix="actions-for-hero-section" class="content-wrapper narrow">
    <h4 class="h4 big">Frequently Asked Questions</h4>
  </div>
  <div class="content-wrapper narrow">
    <div class="services-box">
      <div data-ix="expand-icon-service-1" class="service-1">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How does Bogeybox Golf Club work?</h3>
              <p class="paragraph small">Bogeybox Golf Club is a clothing service for men. Sign up to get connected to one of our personal PGA Professionals. Your Pro will reach out to you by phone/email to get to know you and understand your clothing needs and preferences. Your Pro will send an email containing recommended items, individually selected for you.
                <br>
                <br> Pick what you’d like to try on at home and your bogeybox will ship shortly. &nbsp;When you receive your bogeybox, you have 5 days to try everything on. Keep what you love, send back the rest.
                <br>
                <br>Shipping is free both ways (including returns). &nbsp;There’s a pre-paid return label in every bogeybox and we’ll schedule a free pick-up on request.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-2" class="service-2">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What does an example shipment look like?</h3>
              <p class="paragraph small">Here are two examples of types of bogeyboxes our customers might receive:</p>
            </div>
            <div class="w-row example-box">
              <div class="w-col w-col-6">
                <p><strong>Michael’s Bogeybox</strong>
                </p><img src="<%= image_path('Bogeybox_026_small.jpg') %>" class="example-box-image">
                <blockquote>“Michael lives in the Pacific Northwest, and often plays in the rain. We sent him top-of-the line outerwear featuring goretex protection. He also needed shorts, a belt, and a workout shirt for the gym.”
                  <br>
                  <br>-Rob T. Bogeybox Pro</blockquote>
              </div>
              <div class="w-col w-col-6">
                <p><strong>Travis’ Bogeybox</strong>
                </p><img src="<%= image_path('Bogeybox_003_small.jpg') %>" class="example-box-image">
                <blockquote>“For Travis’ second Bogeybox, we included non-golf apparel. He requested casual items that can be worn out to at the bar with a few friends to watch the game. We added layering pieces that blend well with the four-way stretch button down.”
                  <br>
                  <br>- Nik. Bogeybox Pro.</blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-3" class="service-3">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How much does each item cost?</h3>
              <p class="paragraph small">Our prices are the same you’d find in-store, or online, at major department stores and golf retailers. No markups. Prices vary from brand-to-brand. Our goal is to find the best brands that fit your style and budget.&nbsp;</p>
              <p class="paragraph small">Polos $70-$125
                <br>Trousers $95-$275
                <br>Shorts $55-$95
                <br>Belts $45-$140
                <br>Button-downs $95-$225
                <br>Outerwear $170-$325</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-4" class="service-4">
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>Is this a box-of-the month company?</h3>
              <p class="paragraph small"><strong>No.</strong>
                <br>
                <br>Bogeybox Golf Club works on your terms. Prefer email over phone? Sounds great. Want a Bogeybox every month or every quarter? You’re the boss. Need a special outfit sent directly to your office, hotel room, or Country Club? No problem.</p>
            </div>
          </div>
        </div>
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How do I sign up for Bogeybox Golf Club?</h3>
              <p class="paragraph small">You can sign up <%= link_to 'here', sign_up_url, :target => '_blank' %>. Take 2 minutes to complete your style profile, and one of our PGA Professionals will be in touch.</p>
            </div>
          </div>
        </div>
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How often will I receive a bogeybox?</h3>
              <p class="paragraph small">That’s entirely up to you. Bogeybox’s are sent only upon request. Many of our members do schedule regular box deliveries, however, and if you’re interested in an automatic regular shipment (e.g. monthly / quarterly), just ask your Pro.</p>
            </div>
          </div>
        </div>
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>Is Bogeybox Golf Club a subscription service?</h3>
              <p class="paragraph small"><strong>No.</strong>
                <br>
                <br>We only send Bogeybox’s when you request them. If you’d like to schedule a bogeybox to be delivered at a specific interval (e.g. monthly / quarterly), just ask your Pro.</p>
            </div>
          </div>
        </div>
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What kind of clothes does Bogeybox Golf Club carry?</h3>
              <p class="paragraph small">Bogeybox Golf Club carries high-end men’s clothing that can be worn on-and-off the golf course. We don’t just golf clothing. We carry the entire country club look - clothing that can be worn at the office or out to dinner after your round. We work with approximately 45 name brands like <em>Nike, Under Armour, Brooks Brothers, Vineyard Vines, Callaway, Adidas</em>.
                <br>
                <br>Our merchandising team is constantly working to improve our selection by adding and refining our vendor list to serve the needs and preferences of our members.</p>
            </div>
          </div>
        </div>
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How much does Bogeybox Golf Club cost?</h3>
              <p class="paragraph small">Our membership dues are <strong>$100 per year</strong>. Your membership includes:
                <br>
                <br>1. <strong>Free</strong> shipping for 1 year (including returns).
                <br>
                <br>2. Money Back Guarantee: If your service experience wasn’t the best you’ve ever had, <strong>we’ll refund the $100, guaranteed</strong>.
                <br>
                <br>3. <strong>10 online golf lessons</strong> with your PGA Pro. (Or, if you’re based in NYC, <strong>1 in-person lesson and 9 online lessons</strong>).</p>
            </div>
          </div>
        </div>
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>Will I get to see the items before I receive my bogeybox?</h3>
              <p class="paragraph small"><strong>Absolutely!</strong>
                <br>
                <br>We will email you a preview of your bogeybox, at which point you will have 48 hours to review and choose whether you would like us to send each item. Prior to shipment, your Pro will replace items you chose not to have sent with other items that fit your clothing needs and preferences.</p>
            </div>
          </div>
        </div>
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>Can I wear clothes and then send them back?</h3>
              <p class="paragraph small">Try everything on at home, but don’t wear them out unless you intend to purchase them. Clothes that are worn, damaged, or have tags removed will be charged to your account.</p>
            </div>
          </div>
        </div>
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What if I can’t return my Bogeybox within 5 days?</h3>
              <p class="paragraph small">If you can’t return your bogeybox within the 5 day period, you will be charged for the bogeybox in full. Don’t worry, you can still return any items you don’t wish to keep for a full refund.
                <br>
                <br>Need help? Email us at <a href="mailto:team@bogeyboxgolf.com">team@bogeyboxgolf.com</a>.</p>
            </div>
          </div>
        </div>
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How do I give Bogeybox as a gift?</h3>
              <p class="paragraph small">We offer "gift credits" starting at $100 - $1,000. To get started, fill out our <%= link_to 'gifting form', gift_url, :target => '_blank' %>, and a Pro will be in touch shortly.
                <br>
                <br>Giving gifts isn’t easy, especially when it comes to clothes. Bogeybox Golf Club helps people find the right clothes based on who they are and what they need. Our gift card will allow your lucky recipient to enjoy the most personalized shopping experience there is. Who said gift cards are impersonal? Your gift card includes:
                <br>
                <br>1. 1 year membership (free shipping + returns on unlimited shipments).
                <br>
                <br>2. Shopping credit (your gift amount goes toward any clothing they keep).
                <br>
                <br>3. 10 online golf lessons for 1 year (from their dedicated PGA Pro).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="sign-up.html" data-ix="fade-out-body-on-click" class="w-inline-block button get-started">
    <div>Get started</div>
  </a>
</div>
