<body class="body">
<div class="w-section go-up-bar">
  <div class="content-wrapper">
    <a href="#Top" data-ix="initial-appearance-for-go-up-button" class="w-inline-block go-up-button"></a>
  </div>
</div>
<div class="w-section content-section intro">
  <div data-ix="actions-for-hero-section" class="content-wrapper narrow">
    <h4 class="h4 big">Frequently Asked Questions</h4>
  </div>
  <div class="content-wrapper narrow">
    <div class="services-box">
      <div data-ix="expand-icon-service-1" class="service-1">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What is Bogeybox?</h3>
              <p class="paragraph small">Bogeybox is the men’s clothing service designed for busy golfers who want to look great, but don’t have the time to shop. We bring the best apparel in golf to you.
                <br>
                <br>We combine expert styling, convenience, and our “try it before you buy it” model to the homes of our members. Simply fill out your style profile and our personal stylists will handpick a selection of five clothing items unique to your taste, budget and lifestyle.  We send everything straight to your door. You can buy what you like and return the rest!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div data-ix="expand-icon-service-2" class="service-2">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What does an example shipment look like?</h3>
              <p class="paragraph small">Here are two examples of types of bogeyboxes our customers might receive:</p>
            </div>
            <div class="w-row example-box">
              <div class="w-col w-col-6">
                <p><strong>Michael’s Bogeybox</strong>
                </p><img src="<%= image_path('Bogeybox_026_small.jpg') %>" class="example-box-image">
                <blockquote>“Michael lives in the Pacific Northwest, and often plays in the rain. We sent him top-of-the line outerwear featuring goretex protection. He also needed shorts, a belt, and a workout shirt for the gym.”
                  <br>
                  <br>-Rob T. Bogeybox Pro</blockquote>
              </div>
              <div class="w-col w-col-6">
                <p><strong>Travis’ Bogeybox</strong>
                </p><img src="<%= image_path('Bogeybox_003_small.jpg') %>" class="example-box-image">
                <blockquote>“For Travis’ second Bogeybox, we included non-golf apparel. He requested casual items that can be worn out to at the bar with a few friends to watch the game. We added layering pieces that blend well with the four-way stretch button down.”
                  <br>
                  <br>- Nik. Bogeybox Pro.</blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-3" class="service-3">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How does it work?</h3>
              <p class="paragraph small">1. Fill out your Style Profile<br>
                <br>
                Begin by filling out the Style Profile. This helps us understand your size, style, shape, budget and lifestyle. Completing your profile takes less than 3 minutes.</p>
                <br>
              <p class="paragraph small">2. Speak with your stylist via phone or email.<br>
                <br>
                We’ll send you a selection of five clothing items and accessories handpicked by personal stylists on the date you choose. At the time your stylist selects your items, you will be charged a $20 styling fee. That $20 will be applied as a credit toward anything you keep from your shipment.</p>
                <br>
              <p class="paragraph small">3. Try everything on in the comfort of your home<br>
                <br>
                We encourage you to try on everything our personal stylists have picked for you because you just never know what will look great on! Create new outfits by pairing what’s in your shipment with the items that are already in your closet.</p>
                <br>
              <p class="paragraph small">4. Buy what you like and return the rest <br>
                <br>
                - Take 5 days to decide what you’ll purchase and what you’d like to send back. You’re only charged for these items when you tell us what you’re keeping and returning.
                <br>
                - Simply email your stylist with the items you plan on keeping. The $20 styling fee will be applied as credit towards any items you purchase. If you buy all five items, we’ll give you 25% off the entire purchase!
                <br>
                - Simply return the items you don't want using our pre-paid FedEx return label. Bogeybox clients enjoy free shipping both ways as a benefit of using our service!</p>
                <br>
              <p class="paragraph small">5. Tell us what you think! <br>
                <br>
                Don't forget to give us specific feedback on each of the items you receive. Our personal stylists are able to send you better selections when we know what did and didn’t work for you, and why.
                If you choose to receive regularly scheduled shipments, we will automatically schedule the delivery date for your next shipment. You can always choose an alternative date that better suits your needs or opt out of regularly scheduled shipments entirely.</p>
                <br>
              <p class="paragraph small"><b>Bogeybox does not require a membership fee or a monthly subscription. </b></p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-1" class="service-1">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How is Bogeybox different than shopping online, or in a store?</h3>
              <p class="paragraph small">The Bogeybox experience is not merely curated, it’s truly personalized to your taste, budget and lifestyle. Personal stylists handpick a selection of five items just for you. In fact, no two clients have ever received the same selection of items!
                <br>
                <br>Bogeybox makes shopping not just convenient, but effortless. Like other online retailers, Bogeybox saves you a trip to the store by shipping items directly to you. But our personal stylists also save you the time and trouble of selecting clothing that fit you best. Many of our clients enjoy the ease and convenience of automatically scheduled shipments that arrive at a frequency of their choosing.
                <br>
                <br><b>We know men hate shopping.</b> At Bogeybox, our dressing room is your home. We encourage you to try everything on in the comfort of your home and see how the items we send work with what’s already in your closet.
                <br>
                <br>Returns are easy at Bogeybox. Simply slip the items you’re returning into the prepaid mailing envelope, and we will schedule a FedEx pickup to come to your door. Shipping is always free at Bogeybox! </p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-3" class="service-3">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How much does it cost?</h3>
              <p class="paragraph small">Our average price point is $65 per item, but we carry a wide variety of price points. When you fill out the Style Profile, you tell us how much you are comfortable paying. We do our best to pick items that reflect those preferences. If you choose to buy all 5 pieces, you get a 25% discount off of your entire purchase! </p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-3" class="service-3">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What types of items might you send me?</h3>
              <p class="paragraph small">Because our clients’ tastes are varied we carry a wide range of items. We currently offer two categories of men’s clothing:</p>
              <br>
              <br><p class="paragraph small">1) Golf Apparel: Collared Shirts, Pants, Shorts, Belts, Outerwear, Rain Gear</p>
              <br>
              <br><p class="paragraph small">2) General Menswear: Button Down Shirts, Trousers, Loafers, Belts, Jeans</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-3" class="service-3">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What brands can I expect?</h3>
              <p class="paragraph small">We work with over 40 of the best up-and-coming labels and well-known golf brands. For example, your shipment might feature clothing by Brooks Brothers, Callaway, J.Lindeberg, Matte Grey, Maide Golf by Bonobos, Mizzen+Main, and Southern Marsh to name a few. Part of the fun of Bogeybox is that we will introduce you to new brands that fit not only your style preferences, but match your fit needs. </p>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-3" class="service-3">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What ages can you style?</h3>
              <p class="paragraph small">Each shipment is completely customized to suit your individual preferences and needs.  We carry a wide range of inventory that allows us to choose pieces that will be perfect for your personal style, regardless of your age. </p>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-3" class="service-3">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What sizes can you style?</h3>
              <p class="paragraph small">We are currently able to style men who wear shirt sizes S-3XL and waist sizes from 30-42 which reflects the size offering currently available to us from the brands we carry.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="expand-icon-service-3" class="service-3">
        <div class="w-row row services no-bottom-border">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>Does Bogeybox carry clothing for women?</h3>
              <p class="paragraph small">Unfortunately, no. At the moment we only carry men’s golf and lifestyle apparel.</p>
              <br>
            </div>
          </div>
        </div>
      </div>

      <h3 class="h4 big">Style Profile</h3>
      <br>
      <div data-ix="expand-icon-service-4" class="service-4">
        <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>How do I find my size?</h3>
                <br>
                <p class="paragraph small">Once you complete your profile, your stylist will reach out to you via phone or email to determine what sizes fit you best. Once your stylist has the context of brands fit you well, they will be able to make recommendations to brands with similar fit. </p>
            </div>
          </div>
      </div>

      <div data-ix="expand-icon-service-4" class="service-4">
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>What if the clothing doesn’t fit?</h3>
                <br>
                <p class="paragraph small">That’s the beauty of Bogeybox. Our stylists will send multiple sizes so you always have the best fit. Every golfer requires a unique fit. Over time, your stylist will learn the brands and styles that fit you best. </p>
            </div>
          </div>
        </div>
        </div>

      <div data-ix="expand-icon-service-4" class="service-4">
        <div class="w-row row services">
          <div class="w-col w-col-1 column"></div>
          <div class="w-col w-col-11 column">
            <div class="service-description-box">
              <h3>Can I request specific apparel pieces?</h3>
                <br>
                <p class="paragraph small">Absolutely! We want to cater each Bogeybox around your specific needs. We understand that your needs will change depending on season, and your location. Simply mention your specific needs to your stylist, and they will include those specific items. </p>
                <br>
                <p class="paragraph small">Just need new shorts? We’ll send you 5 pairs to try-on at home!</p>
            </div>
          </div>
        </div>
        </div>

        <div data-ix="expand-icon-service-4" class="service-4">
          <div class="w-row row services">
            <div class="w-col w-col-1 column"></div>
            <div class="w-col w-col-11 column">
              <div class="service-description-box">
                <h3>Does Bogeybox sell clothing I can wear off of the course? </h3>
                  <br>
                  <p class="paragraph small">Yes! We don’t just carry golf clothing. We carry a wide range of menswear suited well for a business casual work environment, or out to dinner with your spouse.</p>
              </div>
            </div>
          </div>
          </div>
          <br>

          <h3 class="h4 big">Billing</h3>
          <br>
          <div data-ix="expand-icon-service-4" class="service-4">
            <div class="w-row row services">
              <div class="w-col w-col-1 column"></div>
              <div class="w-col w-col-11 column">
                <div class="service-description-box">
                  <h3>When will my credit card be charged?</h3>
                    <br>
                    <p class="paragraph small">When you enter your credit card information upon completing our Style Profile, a $20 styling fee will be charged. That styling fee will be credited towards anything you purchase in that shipment. </p>
                    <br>
                    <p class="paragraph small">As a bonus for our customers, this $20 styling fee also includes an online private swing analysis with one of our PGA Professionals. Each time you request a Bogeybox, you will earn 1 online golf lesson. This can be activated immediately, or taken at your convenience. <b>For every Bogeybox you order, we aim to drop one bogey from your scorecard (Results may vary. Sorry, Charles Barkley.)</b></p>
                </div>
              </div>
            </div>
            </div>

            <div data-ix="expand-icon-service-4" class="service-4">
              <div class="w-row row services">
                <div class="w-col w-col-1 column"></div>
                <div class="w-col w-col-11 column">
                  <div class="service-description-box">
                    <h3>Does the style fee roll over if I decide not to keep anything? </h3>
                      <br>
                      <p class="paragraph small">Your styling fee can only be applied to the purchase of anything in your current Bogeybox. It does not roll over to your next shipment and cannot be refunded. Most of our clients fall in love with at least one item in each shipment. Again, this fee will also include your private online golf lessons, which is available to you regardless of whether you decide to keep anything. </p>
                  </div>
                </div>
              </div>
            </div>

        <h3 class="h4 big">Scheduling</h3>
        <div data-ix="expand-icon-service-4" class="service-4">
          <div class="w-row row services">
            <div class="w-col w-col-1 column"></div>
            <div class="w-col w-col-11 column">
              <div class="service-description-box">
                <h3>How often can I receive a Bogeybox?</h3>
                  <br>
                  <p class="paragraph small">That’s completely up to you!</p>
                  <br>
                  <p class="paragraph small">Simply text, call, or email your stylist when you’re ready for your next Bogeybox. If you’re interested in a regular shipment schedule (monthly, quarterly, etc), simply let your stylist know. </p>
              </div>
            </div>
          </div>
        </div>

          <div data-ix="expand-icon-service-4" class="service-4">
            <div class="w-row row services">
              <div class="w-col w-col-1 column"></div>
              <div class="w-col w-col-11 column">
                <div class="service-description-box">
                  <h3>Is Bogeybox a box-of-the-month program?</h3>
                    <br>
                    <p class="paragraph small">No. Far from it. </p>
                    <br>
                    <p class="paragraph small">We don’t want our customers to feel committed, or locked-in, to set schedule. We pride ourselves on offering each client choice. With subscription services, customers become irritated with being forced to keep and pay for items they don’t absolutely love. With Bogeybox, you’re only paying for the items that you absolutely love. </p>
                </div>
              </div>
            </div>
          </div>

            <h3 class="h4 big">Returns</h3>
            <div data-ix="expand-icon-service-4" class="service-4">
              <div class="w-row row services">
                <div class="w-col w-col-1 column"></div>
                <div class="w-col w-col-11 column">
                  <div class="service-description-box">
                    <h3>How do returns work?</h3>
                      <br>
                      <p class="paragraph small">Every Bogeybox comes with a prepaid return shipping label. For the items you’d like to send back, simply place them back into your Bogeybox with the return label on top. We will schedule a FedEx pickup for you, so you never have to leave your home to return the shipment. </p>
                  </div>
                </div>
              </div>

              <div data-ix="expand-icon-service-4" class="service-4">
                <div class="w-row row services">
                  <div class="w-col w-col-1 column"></div>
                  <div class="w-col w-col-11 column">
                    <div class="service-description-box">
                      <h3>How long do I have to send back the items I don’t want to keep?</h3>
                        <br>
                        <p class="paragraph small">Returns are due back in the mail 5 days after you receive the package (for example, if your shipment arrives on Monday, we ask that you send back returns in the mail by that Thursday.) If the 5th day falls on a Sunday or holiday, please drop your return box in the mail the following business day. Please let us know if you don’t get your package on time or if the post office has lost your package by contacting your stylist. If your return has not been postmarked within 5 days of receipt, we will assume you are keeping all five items and charge your credit card for the entire shipment. We can't accept additional returns after your initial return is sent. Please make sure you try everything on before you drop your package in the mail.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br><br>
          <a href="/sign-up" data-ix="fade-out-body-on-click" class="w-inline-block button get-started">
            <div>Get started</div>
          </a>
</div>
