<div class="w-section content-section gray">
  <div class="content-wrapper white contact">
    <div class="contact-form-box">
      <div class="contact-form-title-box">
            <div class="title medium dark">Thanks for purchasing a gift box with us, <%= params['first_name'] %>!</div>
          </div>
          <div class="w-form form-wrapper">
            <div class="w-clearfix input-box">
              <img width="60%" height="60%" src="<%= image_path('thank you.jpeg') %>">
            </div>
              <br>
              <%= render 'layouts/sharesale' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
