
<!-- Footer Section-->
<div class="w-section content-section footer">
  <div class="content-wrapper">
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="image-license-notice-box">
          <div class="title footer">© 2016 Bogeybox Golf Club</div>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="site-made-by">
          <div class="site-made-by">
            <div class="title footer">Made in <a href="https://www.wework.com/">NYc</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
